{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deepanshu | Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'homeapp/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'homeapp/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- Vendor CSS Files -->
  <link href="{% static 'homeapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'homeapp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'homeapp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'homeapp/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'homeapp/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'homeapp/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'homeapp/assets/css/style.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="https://kit.fontawesome.com/ba5f6a3948.js" crossorigin="anonymous"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="">Deepanshu</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span id="typed-text" aria-label="Back-End Developer, Software Developer, Student, Pythonista">Back-End Developer</span></h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Experience</a></li>
          <li><a class="nav-link" href="#portfolio">Projects</a></li>
          <li><a class="nav-link" href="#certificates">Certificates</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://github.com/RyugaSunny" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/deepanshu981/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://wa.me/+919812699870" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.instagram.com/sunny_981_/" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4 container" data-aos="fade-right">
          <img src="{% static 'homeapp/assets/img/me.jpg' %}" loading="lazy" class="img-fluid" id="me-img" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <br>
          <br>

          <p class="italic-text">My name is Deepanshu, and I'm a dedicated software enthusiast currently pursuing a
            degree in Computer Science. Throughout my journey, I've invested countless hours in coding and program
            development. The website you are seeing right now, I've crafted it using Django as Back-End and it stands as
            a testament to my dedication and expertise in the field.While my journey began as a personal pursuit, I've
            honed my skills and cultivated a profound understanding of programming concepts and now I want to transition
            this passion into a thriving professional career as a software engineer.</p>


          <p class="italic-text">What sets me apart is not just my technical proficiency, but also my eagerness to learn,
            grow, and thrive within a collaborative team environment. I am committed to making meaningful contributions
            and am excited about the prospect of leveraging my skills to drive innovation and success within your
            esteemed organization.</p>
          <br>

          <p class="fst-italic">
            As Edsger Dijkstra once said, "Any fool can write code that a computer can understand. Good programmers
            write code that humans can understand." I strive to embody this philosophy in every line of code I write.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="box">
        <div class="skills-item">
          <img class="out3d" src="{% static 'homeapp/assets/img/skills/python.png' %}" alt="Python">
          <h2>Python</h2>
        </div>

        <div class="skills-item">
          <img class="out3d" src="{% static 'homeapp/assets/img/skills/django.png' %}" alt="Django">
          <h2>Django</h2>
        </div>

        <div class="skills-item">
          <img class="mirror" src="{% static 'homeapp/assets/img/skills/pandas.png' %}" alt="Pandas">
          <h2>Pandas</h2>
        </div>

        <div class="skills-item">
          <img class="out3d" src="{% static 'homeapp/assets/img/skills/selenium.png' %}" alt="Selenium">
          <h2>Selenium</h2>
        </div>

        <div class="skills-item">
          <img class="mirror" src="{% static 'homeapp/assets/img/skills/git_icon.png' %}" alt="Git">
          <h2>Git</h2>
        </div>

        <div class="skills-item">
          <img class="mirror" src="{% static 'homeapp/assets/img/skills/github.png' %}" alt="GitHub">
          <h2>GitHub</h2>
        </div>

        <div class="skills-item">
          <img class="mirror" src="{% static 'homeapp/assets/img/skills/psql.png' %}" alt="psql">
          <h2>PostgreSQL</h2>
        </div>



        <div class="skills-item">
          <img class="spin" src="{% static 'homeapp/assets/img/skills/html_icon.png' %}" alt="HTML">
          <h2>HTML</h2>
        </div>

        <div class="skills-item">
          <img class="mirror" src="{% static 'homeapp/assets/img/skills/css_icon.png' %}" alt="CSS">
          <h2>CSS</h2>
        </div>

        <div class="skills-item">
          <img class="mirror" src="{% static 'homeapp/assets/img/skills/js_icon.png' %}" alt="JS">
          <h2>JavaScript</h2>
        </div>

        <div class="skills-item">
          <img class="spin" src="{% static 'homeapp/assets/img/skills/node_icon.png' %}" alt="node.js">
          <h2>Node.js</h2>
        </div>
      </div>

      <!-- ======= Interests ======= -->
      <div class="interests container">

        <div class="section-title">
          <h2>Interests</h2>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-code-s-slash-line" style="color: #ffbb2c;"></i>
              <h3>Coding</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-terminal-box-fill" style="color: #5578ff;"></i>
              <h3>Linux</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-basketball-fill" style="color: #e80368;"></i>
              <h3>Basketball</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-movie-2-line" style="color: #e361ff;"></i>
              <h3>Horror Movies</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-treasure-map-line" style="color: #47aeff;"></i>
              <h3>Exploring</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-music-line" style="color: #ffa76e;"></i>
              <h3>Music</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-health-book-fill" style="color: #11dbcf;"></i>
              <h3>Breaking Stuff</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-lightbulb-flash-line" style="color: #4233ff;"></i>
              <h3>Fixing Stuff</h3>
            </div>
          </div>

        </div>

      </div><!-- End Interests -->

  </section><!-- End About Section -->

  <!-- ======= Experience Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Experience</h2>
      </div>
      <br>
      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">


          <div>
            <h4
              style="font-family: Poppins, sans-serif;line-height: 18px;font-size: 18px;font-weight: 600;text-transform: uppercase;color: #18d26e;">
              <a href="{% static 'homeapp/assets/certificates/codespaze.jpg' %}" target="_blank"
                    rel="noopener noreferrer">Python Developer Intern - CodeSpaze <i class="fas fa-external-link-alt"></i>
                  </a>
              </h4>
            <h5 style="font-size: 16px;
              background: rgba(255, 255, 255, 0.15);
              padding: 5px 15px;
              display: inline-block;
              font-weight: 600;
              margin-bottom: 10px;">10 November 2024 - 22 December 2024</h5>
            <p><em>Lucknow | Remote </em></p>
            <ul>
              <li>Engineered a GUI application using PyQt6 to display dynamic offers and deals from Amazon and
                Flipkart, ensuring seamless user interaction and intuitive design.</li>
              <li>Developed robust web scraping pipelines with BeautifulSoup, implementing best practices like rotating
                proxies, headers, and rate-limiting to prevent IP blocking and ensure uninterrupted data retrieval.</li>
              <li>Showcased strong problem-solving skills by adapting to dynamic website changes.</li>
              <li>Fine-tuned the application to be faster and more responsive, optimizing performance for a smoother
                user experience.</li>

            </ul>
          </div>
          <br>
          <br>

          <section id="portfolio" class="resume">
            <div class="container" style="background: transparent;">
              <div class="section-title">
                <h2>Projects</h2>
              </div>

              <br>

              <div class="resume-item">
                <h4><a href="https://github.com/RyugaSunny/OfferScraper/blob/main/offertag.py" target="_blank"
                    rel="noopener noreferrer">Web Scraper <i class="fas fa-external-link-alt"></i>
                  </a></h4>
                <h5>December 2024</h5>

                <ul>
                  <li>Built a Python script using BeautifulSoup to scrape dynamic offers and deals from Amazon and
                    Flipkart, automating the process of collecting e-commerce data.</li>
                  <li>Implemented a rotating proxy system to prevent IP blocking and ensure uninterrupted data
                    retrieval.</li>
                  <li>Processed and stored the scraped data efficiently in CSV files using Pandas, enabling easy
                    analysis
                    and future integration with other applications.</li>

                </ul>
              </div>


              <div class="resume-item">
                <h4><a href="https://github.com/RyugaSunny/PyPostgres/blob/main/postgres.py" target="_blank"
                    rel="noopener noreferrer">Database Management Script <i class="fas fa-external-link-alt"></i>
                  </a></h4>
                <h5>October 2024</h5>

                <ul>
                  <li>Developed a Python script for managing weather data in a PostgreSQL database using psycopg2.</li>
                  <li>Implemented dynamic SQL queries with parameterized inputs, safeguarding against SQL injection and
                    enhancing security.</li>
                  <li>Created a data validation system to ensure only accurate and consistent data was stored in the
                    database.</li>
                </ul>
                </p>
              </div>

              <div class="resume-item">
                <h4><a href="" target="_blank" rel="noopener noreferrer">Portfolio Website <i
                      class="fas fa-external-link-alt"></i>
                  </a></h4>
                <h5>April 2024</h5>
                <ul>
                  <li>Built a personal portfolio website using Django as the backend, showcasing projects, skills, and
                    professional experience.</li>
                  <li>Designed a responsive and mobile-friendly UI using HTML, CSS, and Bootstrap to ensure
                    accessibility across devices.</li>
                  <li>Integrated email functionality using Django's send_mail() and configured it with SMTP for reliable
                    email delivery.</li>
                  <li>Deployed the website on PythonAnywhere, leveraging its free tier for hosting and ensuring smooth
                    performance.</li>
                  <li>Configured WSGI and static files for seamless deployment.</li>
                </ul>
              </div>

              <div class="resume-item">
                <h4><a href="{% url 'todohome'%}" target="_blank" rel="noopener noreferrer">Todo List <i
                      class="fas fa-external-link-alt"></i>
                  </a></h4>
                <h5>March 2024</h5>
                <ul>
                  <li>Made a simple and easy to use Todo List web application </li>
                  <li>Added functionality to add remove and mark a Task completed</li>
                </ul>
              </div>
            </div>
        </div>

      </div>
  </section><!-- End Resume Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="certificates" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Certifications</h2>

      </div>
      <br>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Certificates</li>
            <li data-filter=".filter-card">LOR</li>

          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/codespaze.jpg' %}" loading="lazy" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CodeSpaze <br> Certificate </h4>
              
              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/codespaze.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                  class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/codespaze.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/isro.jpg' %}" loading="lazy" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4> ISRO AI/ML <br> Certificate </h4>
              
              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/isro.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/isro.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/hackerank.jpg' %}" loading="lazy" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>HackerRank <br> Python Basic <br> Certificate </h4>

              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/hackerank.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                  class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/hackerank.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- RYUGA -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/devtown_js.jpg' %}" loading="lazy" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Node.JS <br> Certificate </h4>

              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/devtown_js.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                  class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/devtown_js.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/devtown.jpg' %}" loading="lazy" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Devtown <br> Certificate </h4>

              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/devtown.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                  class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/devtown.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/Mslearn.jpg' %}" loading="lazy" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Microsoft Student <br> Ambassador Certificate</h4>

              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/Mslearn.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                  class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/Mslearn.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'homeapp/assets/certificates/codespaze_LOR.jpg' %}" loading="lazy" class="img-fluid" alt=""
              style="size: 10px;">
            <div class="portfolio-info">
              <h4>CodeSpaze <br>LOR</h4>

              <div class="portfolio-links">
                <a href="{% static 'homeapp/assets/certificates/codespaze_LOR.jpg' %}" loading="lazy" data-gallery="portfolioGallery"
                  class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="{% static 'homeapp/assets/certificates/codespaze_LOR.pdf' %}" title="More Details"><i class="bx bx-download"></i></a>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Bhaini Maharajpur, Tehsil Meham, District Rohtak, Haryana</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://github.com/RyugaSunny" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/deepanshu981/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="https://wa.me/+919812699870" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
              <a href="https://www.instagram.com/sunny_981_/" class="instagram"><i class="bi bi-instagram"></i></a>

            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p><a href="mailto:sunnyraperia1@gmail.com?subject = Hello&body = Message">sunnyraperia1@gmail.com</a></p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p><a href=“tel:”+919812699870>+919812699870</a></p>
          </div>
        </div>
      </div>

      <form method="post" role="form" action="/send_email/" class="php-email-form mt-4">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" id="message" placeholder="Message" required></textarea>
        </div>
        <div id="success-message" class="sent-message" style="display: none;">Your message has been sent. Thank you!
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>




    </div>
  </section><!-- End Contact Section -->

  <!-- Vendor JS Files -->
  <script src="{% static 'homeapp/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'homeapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'homeapp/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'homeapp/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'homeapp/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'homeapp/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'homeapp/assets/js/main.js' %}"></script>
  <script>
    var typed = new Typed('#typed-text', {
      strings: ['Back-End Developer', 'Software Developer', 'Student', 'Pythonista'],
      typeSpeed: 50,
      backSpeed: 30, // speed of backspacing
      backDelay: 500, // delay before starting to backspace
      loop: true
    });
  </script>
</body>

</html>